* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: dark;
}

html,
body {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

canvas {
  width: 384px;
  height: 384px;
  border-radius: 8px;
}

@media (max-width: 384px) {
  canvas {
    width: 320px;
    height: 320px;
  }
}

.back{
  position: absolute;
  top: 16px;
  left: 16px;
}

.back svg{
  fill: white;
}